table {
	table-layout: fixed;
	width: 100%;
}

/*
	TH show where to drop cards
	Cards are actually dropped in individual TD cells
	but the cells have no border or background
*/
th, td {
	border-radius: 3px;
	border: 1px dashed rgba( 255, 255, 255, .5 );
	color: #333;
	padding: .5em;
	height: 3.5em;
	width: 2.5em;
	overflow: hidden;
	text-align: center;
}
th {
	background: rgba( 255, 255, 255, .1 );
	color: rgba( 255, 255, 255, .5 );
}


// clock layout
.clock {
	@include translateX( 50% );

	td, th {
		position: absolute;
		// Chrome needs 50% 15em 0 50%
		// Firefox needs 50% 15em
		// -webkit-transform-origin: 50% 15em 0 true;
		// -moz-transform-origin: 50% 15em;
		@include transform-origin( 50% 15em 0 true );
	}

	td {
		border: none;
	}

	// rotate the table cells to create a clock layout
	@for $i from 1 through 12 {
		td:nth-child( #{$i} ),
		th:nth-child( #{$i} ) {
			@include rotate( $i * 30deg );
		}
	}

	// kings in the middle
	th:nth-child( 13 ),
	td:nth-child( 13 ) {
		@include translateY( 12.5em );
		@include transform-origin( 50% 50% );
	}
}
