@charset "UTF-8";
@import "card-heart.scss";
@import "card-diamond.scss";
@import "card-club.scss";
@import "card-spade.scss";


$redSuit: #d40000;
$blackSuit: #000;
$cardBackground: #fff;
// TODO allow for yellow, green styles for spades and clubs?

/* cards */
.card {
	position: relative;
	border: 1px solid #777;
	border-radius: 3px;
	color: #333;
	background: #fff inline-image("image/playing-card.svg");
	background-size: cover;
	height: 3em;
	width: 2em;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	// box-shadow: .25em .25em .5em #000;
	overflow: hidden;
	// margin: 1em;
	padding: .25em;
	// most cards follow a 3 column layout
	// -moz-column-width: .667em;
	// -moz-column-count: 3;
	// -moz-column-rule: medium;
}

.card > abbr {
	border-bottom: none;
	font-size: .8em;
}

// suits
.club, .spade {
	background: $cardBackground;
	border-color: $blackSuit;
	color: $blackSuit;
}
.heart, .diamond {
	background: $cardBackground;
	border-color: $redSuit;
	color: $redSuit;
}


// 1 large symbol
.ace {
	line-height: 1.5;
}
.ace > abbr {
	font-size: 2em;
}
// 2 symbols
.two {
	line-height: 1.5;
}
// 4 rows of suits symbols
.nine, .ten {
	line-height: .7;
}


// card shorthand
.card::before,
.card::after {
	content: none;
	font-size: .4em;
	width: 1em;
	padding: .1em;
	position: absolute;
	word-wrap: break-word;
	line-height: 1;
}
.card::before {
	top: 0;
	left: 0;
}
.card::after {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}


/* drag and drop */
.card:hover {
	cursor: move;
	cursor: -moz-grab;
}
.card:active {
	cursor: -moz-grabbing;
	animation-duration: 100ms;
	animation-name: pickup;
	transform: rotate( -10deg );
}
/* being dragged */
.card.dragging {
	opacity: .4;
}


/* pick up card animation */
@keyframes pickup {
	from {
	}
	80% {
		font-size: 130%;
	}
	100% {
		font-size: 110%;
	}
}
