body {
	font-size: 1.5em;
	overflow: hidden;
}


table {
	table-layout: fixed;
	width: 100%;
	transform: translateX( 50% );
}
thead {
	display: none;
}

/* table cell = space to drop a card */
td {
	border: 1px solid rgba( 255, 255, 255, .8 );
	border-radius: 3px;
	color: #333;
	background: rgba( 255, 255, 255, .5 );
	padding: .5em;
	height: 3.5em;
	width: 2.5em;
	overflow: hidden;
}
/* overlap the rows */
tbody > tr {
	/*position: absolute;*/
}
/* rotate the table cells to create a clock layout */
td {
	position: absolute;
	-webkit-transform-origin: 50% 15em;
	transform-origin: 50% 15em;
}
td:nth-child( 1 ) {
	-webkit-transform: rotate( 30deg );
	transform: rotate( 30deg );
}
td:nth-child( 2 ) {
	-webkit-transform: rotate( 60deg );
	transform: rotate( 60deg );
}
td:nth-child( 3 ) {
	-webkit-transform: rotate( 90deg );
	transform: rotate( 90deg );
}
td:nth-child( 4 ) {
	-webkit-transform: rotate( 120deg );
	transform: rotate( 120deg );
}
td:nth-child( 5 ) {
	-webkit-transform: rotate( 150deg );
	transform: rotate( 150deg );
}
td:nth-child( 6 ) {
	-webkit-transform: rotate( 180deg );
	transform: rotate( 180deg );
}
td:nth-child( 7 ) {
	-webkit-transform: rotate( 210deg );
	transform: rotate( 210deg );
}
td:nth-child( 8 ) {
	-webkit-transform: rotate( 240deg );
	transform: rotate( 240deg );
}
td:nth-child( 9 ) {
	-webkit-transform: rotate( 270deg );
	transform: rotate( 270deg );
}
td:nth-child( 10 ) {
	-webkit-transform: rotate( 300deg );
	transform: rotate( 300deg );
}
td:nth-child( 11 ) {
	-webkit-transform: rotate( 330deg );
	transform: rotate( 330deg );
}
/* note: Queen (12) stays put */
td:nth-child( 12 ) {
	-webkit-transform: rotate( 0 );
	transform: rotate( 0 );
}
td:nth-child( 13 ) {
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}


/* cards */
.card {
	border: 1px solid #777;
	border-radius: 3px;
	color: #333;
	background: #fff;
	height: 3.5em;
	width: 2.5em;
	box-shadow: .25em .25em .5em #000;
	overflow: hidden;
	margin: 1em;
}
.clubs, .spades {
	border-color: #000;
	color: #000;
}
.hearts, .diamonds {
	border-color: #d40000;
	color: #d40000;
}


/* drag and drop */
[draggable]:hover {
	cursor: move;
	cursor: -moz-grab;
}
[draggable]:active {
	cursor: -moz-grabbing;
	animation-duration: 100ms;
	animation-name: pickup;
	transform: rotate( -10deg );
}
/* being dragged */
.card.dragging {
	opacity: .4;
}


/* pick up card animation */
@keyframes pickup {
	from {
	}
	80% {
		font-size: 130%;
	}
	100% {
		font-size: 110%;
	}
}



/* The following are examples of different CSS media queries */

/* Basic desktop/screen width sniff */
@media only screen and (min-width : 1224px) {
	/* styles */
	body {
		background: #0ff;
	}
}


/* Traditional iPhone width */
@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
	/* styles */
	body {
		background: yellow;
	}
}

/* Device settings at different orientations */
@media screen and (orientation:portrait) {
	/* styles */
	body {
		background: green;
	}
}
@media screen and (orientation:landscape) {
	/* styles */
	body {
		background: blue;
	}
}
